---
import { Image } from "astro:assets";
import plastikpose from "../assets/images/plastikpose.webp";
import skildpade from "../assets/images/skildpade.webp";
---

<section
  class="parallaxgrafikstatement fullwidthsection"
  style="background-color:#4b7f8b"
>
  <div class="w-full grid grid-cols-9 overflow-hidden h-screen">
    <Image
      src={plastikpose}
      alt="plastikpose"
      class="col-start-5 col-span-2 parallaxgrafikstatement1"
    />

    <Image
      src={skildpade}
      alt="skildpade"
      class="col-start-5 col-span-2 parallaxgrafikstatement1"
    />

    <Image
      src={skildpade}
      alt="skildpade"
      class="col-start-5 col-span-2 parallaxgrafikstatement2"
    />
    <Image
      src={plastikpose}
      alt="plastikpose"
      class="col-start-5 col-span-3 parallaxgrafikstatement2"
    />

    <Image
      src={plastikpose}
      alt="plastikpose"
      class="col-start-3 col-span-4 parallaxgrafikstatement3"
    />
  </div>

  <!-- Overlay Text Content -->
  <div
    id="stagger3"
    class="absolute inset-0 flex flex-col justify-center items-center text-center staggeranimation3"
  >
    <h3 class="text-6xl px-20">
      Vi samarbejder med internationale organisationer om at skabe en sikker og
      bedre fremtid for verdenshavene
    </h3>
    <h4 class="text-4xl mt-4">Vil du være med i det samarbejde?</h4>
  </div>
</section>
<script>
  /* Import af Motion One biblioteket */
  import { inView, scroll, animate, stagger } from "@motionone/dom";

  /* Parallaxgrafik */
  scroll(
    animate(".parallaxgrafikstatement1", { x: [-200, 1000], y: [-200, 100] }),
    {
      target: document.querySelector(".parallaxgrafikstatement"),
      offset: ["start end", "end start"],
    }
  );
  scroll(
    animate(".parallaxgrafikstatement2", { x: [-1000, 400], y: [-2000, 100] }),
    {
      target: document.querySelector(".parallaxgrafikstatement"),
      offset: ["start end", "end start"],
    }
  );
  scroll(
    animate(".parallaxgrafikstatement3", { x: [-1000, 200], y: [-4000, 100] }),
    {
      target: document.querySelector(".parallaxgrafikstatement"),
      offset: ["start end", "end start"],
    }
  );

  inView("#stagger3 .text-6xl, .text-4xl", () => {
    animate(
      ".staggeranimation3 .text-6xl, .text-4xl",
      { opacity: [0, 1] },
      {
        delay: stagger(0.3, { start: 0.2 }),
      }
    );
  });
</script>
